# Common
.git
.gitignore
.env
*.md
!README.md
.DS_Store

# Frontend
frontend/node_modules
frontend/.next
frontend/out
frontend/.env*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend
backend/__pycache__
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/env
backend/venv
backend/.env
backend/.env.*
backend/*.log